@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Josefin Sans, sans-serif;
}
.gradient-bg {
    background: linear-gradient(120deg, #1a365d 0%, #2563eb 100%);
  }
  
  .card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  .chart-container {
    height: 300px;
    width: 100%;
    position: relative;
  }
  
  .chart-container canvas {
    width: 100% !important;
    height: 100% !important;
  }
  
  .notification-dot {
    animation: pulse 2s infinite;
  }
  